.home-container{
    height:2000px;
}

.home-hero{
    display:flex;
    align-items: center;
    justify-content: space-around;
    background:var(--d-brown);
}
/*=================
    MAINEXPLAINER
===================*/

.mainExplainer-container{
    max-width:30%;
    background:var(--dark);
    text-align:center;
    margin:0 2rem;
}


/*=========
    REEL
==========*/
.reel-container{
    min-width:800px;
    min-height:427px;
    display:flex;
    justify-content: space-between;
    position:relative;
    overflow: hidden;
    
}

.reel-item{
    text-align:center;
    width:800px;
    position:absolute;
    display:flex;
    align-items: center;
    justify-content: space-between;
    opacity:0;
    transition:700ms ease all;
    background:var(--dark);
}

.reel-description{
    background:var(--main);
    margin: 0 0 0 2rem;
    width:100%;
}


.reel-img-container{
    position:relative;
}

.reel-item img{
    height:427px;
    object-fit: contain;
    padding:2rem;
}

.reel-btn{
    position:absolute;
    bottom:-0.3rem;
    left:50%;
    z-index:1;
    transform:translateX(-150%);

    color:var(--d-brown);
    font-size:2rem;
}

.reel-btn-right{
    left:50%;
    transform:translateX(50%);
}



.reel-prev{
    transform:translateX(-100%);
}

.reel-active{
    transform:translateX(0%);
    opacity:1;
    
}

.reel-next{
    transform:translateX(100%);
}

/*=================
   REEL RESPONSIVENESS
===================*/

@media only screen and (max-width: 1250px) {
    .home-hero{
        display:flex;
        flex-direction:column;
    }
    .mainExplainer-container{
        max-width:800px;
        margin:0;
        background:var(--d-brown);
        color:var(--light);
    }
    .reel-container{
        margin-top:1rem;
    }
}

@media only screen and (max-width: 820px) {
    .home-hero{
        display:flex;
        flex-direction:column;
        overflow-x: hidden;
    }

    .mainExplainer-container{
        max-width:800px;
        
    }

    

    .reel-item{
        display:block;
       
    }

    .reel-description{
        margin:0rem;
        height:4rem;
        text-align: center;
        position:relative;
    }

    .reel-item img{
        height:327px;
    }

    .reel-btn{
        bottom:-0.5rem;
    }
}

/*==========
   FOOTER
===========*/

.footer-container{
    position:fixed;
    bottom:0;
    width:100%;

    display:flex;
    align-items: center;
    justify-content: space-around;
    background:var(--main);
    padding:2rem;
}

.contact h3{
    color:var(--d-brown);
}

.contact a{
    color:rgb(0, 132, 255);
}

/*==========
   SECONDMAIN
===========*/

.second-main-container{
    background:var(--main);
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    'description img'
    'btn btn';
    padding:3rem 7rem 3rem 7rem;
}

.second-main-description{
    grid-area:description;
    margin:0 2rem;
}



.second-main-description h3{
    color:var(--d-brown);
}

.second-main-description h5{
    color:var(--l-brown);
    margin:0.5rem 0;
    font-size:1rem;
}

.second-main-img{
    grid-area:img;
}

.second-div-btn{
    grid-area:btn;
    margin-top:2rem;
    justify-self: center;
}

.second-div-btn .Button{
    display:flex;
    
}

.second-main-img img{
    width:500px;
    
}

@media only screen and (min-width: 1250px) {
    .second-main-img img{
        width:100%;
    }
}

@media only screen and (max-width: 1100px) {
    .second-main-container{
        grid-template-columns: 1fr;
        grid-template-areas: 
        'img'
        'description'
        'btn';
    }

    .second-main-description{
    
        width:70%;
        margin:1rem auto;
    }

    .second-main-img{
        justify-self: center;
        width:70%;
    }

    .second-main-img img{
        width:100%;
    }


}

@media only screen and (max-width: 800px) {

    .second-main-container{
        margin:auto;
        padding:3rem 0;
    }

    .second-main-description{
        width:404px;
        margin:1rem auto;
    }

    .second-main-img{
        justify-self: center;
        width:404px;
    }

    .second-main-img img{
        width:100%;
    }


}

.sticky-social{
    flex-direction: column;
    position:fixed;
    right:0;
    top:40%;
}
.sticky-social a{
    color:var(--main);
}