*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root{
  --main:#87FFCD;
  --dark:#02B56A;
  --light:#A1FFD8;
  --d-brown:#B34D3B;
  --l-brown:#FF9A87;
}

button{
  border:none;
  outline:none;
  background:none;
  cursor:pointer;
}


