*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root{
  --main:#87FFCD;
  --dark:#02B56A;
  --light:#A1FFD8;
  --d-brown:#B34D3B;
  --l-brown:#FF9A87;
}

button{
  border:none;
  outline:none;
  background:none;
  cursor:pointer;
}

/*======
SOCIALS
=======*/

.socials{
  font-size:2rem;
  display:flex;
  align-items: center;
  
}

.socials a{
  margin: 0 1rem;
  color:var(--d-brown);
}

.Button{
  background:var(--d-brown);
  padding:0.3rem 2.5rem;
  color:var(--main)
}

.Button:hover{
  background:var(--l-brown);
}
